<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Dropdowns Example</title>
</head>
<body>
    <h1>Select Options</h1>
    <form action="/result" method="post">
        <select name="dropdown_1">
            <option value="Whisper">Whisper</option>
            <option value="Quiet">Quiet</option>
            <option value="Medium">Medium</option>
            <option value="Loud">Loud</option>
            <option value="No Eardrums">No Eardrums</option>
        </select>
        <br><br>

        <select name="dropdown_2">
            <option value="Snail">Snail</option>
            <option value="Slow">Slow</option>
            <option value="Medium">Medium</option>
            <option value="Fast">Fast</option>
            <option value="Cheetah">Cheetah</option>

        </select>
        <br><br>

        <select name="dropdown_3">
            <option value="No Words">NoWords</option>
            <option value="Some">Some</option>
            <option value="Lotta Words">Lotta Words</option>
        </select>
        <br><br>

        <select name="dropdown_4">
            <option value="Depression">Depression</option>
            <option value="In my room blues">In my roomblues</option>
            <option value="Sorta Happy">Sorta Happy</option>
            <option value="Dancing on the street">Dancing on the street</option>
            <option value="On Drugs">On Drugs</option>

        </select>
        <br><br>

        <select name="dropdown_5">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Hyperactive">Hyperactive</option>
        </select>
        <br><br>

        <select name="dropdown_6">
            <option value="No dancing">No dancing</option>
            <option value="Get a little jiggy">Get a little jiggy</option>
            <option value="Club vibes">Clubvibes</option>
            <option value="U wanna be Beyonce">U wanna be Beyonce</option>
        </select>
        <br><br>

        <select name="dropdown_7">
            <option value="None">None</option>
            <option value="Some">Some</option>
            <option value="Only instruments">Only instruments</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
